<div class="message">
	<p><%= msg.title %></p>
	<% if (memberStatus === 'guest' && msg.author !== currentUsername) {%>
	<p>by anonymous</p>
	<%
    } else {%>
	<p>by <%= msg.author %></p>
	<%} %>
	<p><%= msg.body %></p>
	<p><%= msg.date_created %></p>
	<% if (memberStatus === 'admin') {%>
	<button onclick="deleteMessage('<%= msg.id %>')" class="deleteMessage">Delete message</button>
	<%} %>
</div>